<section >
    <table>
        <tbody> 
            <tr>
                <th>Id</th>
                <th>Brand</th>
                <th>Discount Percentage</th>
                <th>Availability Status</th>
            </tr>
         
            <tr *ngFor="let item of tabledata">
                <td>{{ item?.UserId }}</td>
                <td>{{ item?.id }}</td>
                <td>{{ item?.title }}</td>
                <td>{{ item?.completed}}</td>
            </tr>
        </tbody>
    </table>
</section>
 