<section> 
  <form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="filed_box">
      <label for="vehicleName">Vehicle Name <h3>*</h3></label>
      <input type="text" id="vehicleName" formControlName="vehicleName" placeholder="vehicle Name" required>
      <div *ngIf="formData.get('vehicleName')?.invalid && formData.get('vehicleName')?.touched && formData.get('vehicleName')?.errors" class="error">
        Enter the vehicle name
      </div>
    </div>
    
    <div class="filed_box">
      <label for="vehicleType">Vehicle Type<h3>*</h3></label>
      <select id="vehicleType" formControlName="vehicleType"  required>
        <option value="" disabled>Select vehicle type</option>
        <option value="CAR">Car</option>
        <option value="BIKE">Bike</option>
        <option value="TRUCK">Truck</option>
      </select>
      <div *ngIf="formData.get('vehicleType')?.invalid && formData.get('vehicleType')?.touched && formData.get('vehicleName')?.errors" class="error">
        Vehicle type is required
      </div>
    </div>
    
    <div class="filed_box">
      <label for="insurance">Insurance<h3>*</h3></label>
      <input type="text" id="insurance" formControlName="insurance" placeholder="Insurance"  required>
      <div *ngIf="formData.get('insurance')?.invalid && formData.get('insurance')?.touched && formData.get('vehicleName')?.errors" class="error">
        Insurance is required
      </div>
    </div>
    
    <div class="filed_box">
      <label for="license">License<h3>*</h3></label>
      <input type="text" id="license" formControlName="license" placeholder="License" required>
      <div *ngIf="formData.get('license')?.invalid && formData.get('license')?.touched && formData.get('vehicleName')?.errors" class="error">
        License is required
      </div>
    </div>
    
    <div class="filed_box">
      <label for="city">City<h3>*</h3></label>
      <select id="city" formControlName="city" required>
        <option value="" disabled>Select city</option>
        <option value="city">Chennai</option>
        <option value="city">Bengaluru</option>
        <option value="city">Mumbai</option>
        <option value="city">Surat</option>
        <option value="city">Visakhapatnam</option>
        <option value="city">Lucknow</option> 
      </select>
      <div *ngIf="formData.get('city')?.invalid && formData.get('city')?.touched && formData.get('vehicleName')?.errors" class="error">
        City is required
      </div>
    </div>
    
    <div class="filed_box">
      <label for="licenseNumber">License Number<h3>*</h3></label>
      <input type="text" id="licenseNumber" formControlName="licenseNumber" placeholder="licenseNumber" required>
      <div *ngIf="formData.get('licenseNumber')?.invalid && formData.get('licenseNumber')?.touched" class="error">
        <div *ngIf="formData.get('licenseNumber')?.errors?.['required']">License number is required.</div>
        <div *ngIf="formData.get('licenseNumber')?.errors?.['pattern']">License number must be numeric.</div>
        <div *ngIf="formData.get('licenseNumber')?.errors?.['maxlength']">License number cannot exceed 9 digits.</div>
      </div>
    </div> 
    <div class="filed_box">
      <button type="submit" [disabled]="formData.invalid">Submit</button>
    </div>
  </form>

  <div class="image_filed">
    <input type="file" id="img_filed">
  </div>
</section>
